@charset "utf-8";

@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.eot?d2t432');
  src: url('./icomoon.eot?d2t432#iefix') format('embedded-opentype'),
  url('./icomoon.ttf?d2t432') format('truetype'),
  url('./icomoon.woff?d2t432') format('woff'),
  url('./icomoon.svg?d2t432#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "\e927";
}

.icon-top:before {
  content: "\e925";
}

.icon-question:before {
  content: "\e926";
}

.icon-tip:before {
  content: "\e924";
}

.icon-right:before {
  content: "\e922";
}

.icon-warning2:before {
  content: "\e923";
}

.icon-warning-null:before {
  content: "\e91a";
}

.icon-psw-info:before {
  content: "\e91f";
}

.icon-real-info:before {
  content: "\e920";
}

.icon-phone-info:before {
  content: "\e921";
}

.icon-company1:before {
  content: "\e91b";
}

.icon-company2:before {
  content: "\e91c";
}

.icon-company3:before {
  content: "\e91d";
}

.icon-company4:before {
  content: "\e91e";
}

.icon-chevron-thin-left:before {
  content: "\e919";
}

.icon-chevron-thin-down:before {
  content: "\e918";
}

.icon-active-num:before {
  content: "\e915";
}

.icon-strategy-num:before {
  content: "\e916";
}

.icon-profit-num:before {
  content: "\e917";
}

.icon-finish:before {
  content: "\e914";
}

.icon-phone:before {
  content: "\e90e";
}

.icon-password:before {
  content: "\e90f";
}

.icon-psw-again:before {
  content: "\e910";
}

.icon-phone2:before {
  content: "\e911";
}

.icon-verify:before {
  content: "\e912";
}

.icon-user:before {
  content: "\e913";
}

.icon-arrow-drop-down:before {
  content: "\e90d";
}

.icon-qq:before {
  content: "\e908";
}

.icon-wechat:before {
  content: "\e909";
}

.icon-android:before {
  content: "\e90c";
}

.icon-app:before {
  content: "\e907";
}

.icon-tel:before {
  content: "\e90a";
}

.icon-apple:before {
  content: "\e90b";
}

.icon-warning:before {
  content: "\e905";
}

.icon-error:before {
  content: "\e906";
}

.icon-help:before {
  content: "\e904";
}

.icon-down:before {
  content: "\e901";
}

.icon-refresh:before {
  content: "\e902";
}

.icon-up:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e900";
}
